@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 300 14px 'Source Code Pro', monospace;
    background: #063D7E;
    -webkit-font-smoothing: antialiased;
}

button, textarea{
    font: 300 18px 'Source Code Pro', monospace;
}


button{
    cursor: pointer;
}

form input{
    padding: 1rem;
    color: #1E6BC9;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    border-radius: 1.5rem;
    border-style: none;
}