@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 300 14px 'Source Code Pro', monospace;
    background: #063D7E;
    -webkit-font-smoothing: antialiased;
}

button, textarea{
    font: 300 18px 'Source Code Pro', monospace;
}
input[type="radio"]{
    position: relative;
    flex-direction: row;
    font-weight: bold;
    height: 20px;
    width: 2rem;
    background: #C4C4C4;
    border: 2px solid #fff;
}

ul{
    list-style: none;
}

li{
    transition: filter 0.2s;
}

li:hover{
    cursor: pointer;
    /* border: 1px solid #F8FAFC; */
    filter: brightness(90%);
}

svg{
    margin-right: 0.5rem;
}

a{
    text-decoration: none;
    color: #1E6BC9;
    font-weight: 700;
    cursor: pointer;
}

button{
    cursor: pointer;
    transition: filter 0.2s;
}

button:hover{
    filter: brightness(90%);
}

form input{
    padding: 1rem;
    color: #1E6BC9;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    border-radius: 1.5rem;
    border-style: none;
    min-width:60%;
}